.blush {
    max-width: 1400px;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

.blush > p:nth-of-type(1) {
    text-align: center;
    font-size: 40px;
    font-family: 'Oswald';
    font-weight: 700;
    font-style: italic;
    margin-bottom: 40px;
}

.blush_count {
    font-size: 30px;
    font-family: 'Oswald';
    font-weight: 500;
    margin: 50px 0 20px 0;
    text-align: left;
    font-style: italic;
}

/* .almay_count2 {
    font-size: 30px;
    font-family: 'Oswald';
    font-weight: 500;
    margin: 50px 0 200px 0;
    text-align: center;
    font-style: italic;
} */

.blush-cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.blush-card {
    max-width: 320px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    background-color: white;
}

.blush-card > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand {
    font-family: 'Oswald';
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}

.blush-card > p{
    font-size: 18px;
    font-weight: 300;
    font-family: 'Poppins';
}

.product-cardcont {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    width: 100%;
}

.product-cardcont > button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 0 10px 0;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Poppins';
    cursor: pointer;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 8px;
}

.like {
    cursor: pointer;
    /* background-color: antiquewhite; */
    /* padding: 20px; */
}

.heart {
    width: 40px;
    height: 40px;
}

.like:hover {
    color: red;
}

.back {
    width: 100px;
    text-align: center;
    cursor: pointer;
    font-size: 17px;
    font-family: 'Poppins';
    font-weight: 500;
    text-decoration: underline rgb(127, 255, 155) 5px;
    text-underline-offset:2px;
    letter-spacing: 2px;
    color: black;
    padding: 20px;
    transition: 0.5s;
}

.back:hover {
    color: rgb(127, 255, 155);
    background-color: black;
    transition: 0.5s;
}