.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    font-weight: 500;
    gap: 5px;
    transition: 0.5s;
    cursor: pointer;
}

.modal p:nth-of-type(1) {
    border-right: 1px solid grey;
    padding-right: 5px;
}

.modal-window {
    transition: 0.5s;
    background-color: rgb(211, 211, 211);
    width: 370px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    position: fixed;
    bottom: 0;
    left: calc(50% - 185px);
}

.modal-img {
    margin-left: 100px;
    margin-top: -50px;
}

.modal-title{
    text-align: center;
    font-size: 23px;
    font-style: italic;
    font-weight: 600;
}

.modal-body{
    text-align: center;
    font-size: 15px;
}

.modal-select {
    width: 320px;
    font-size: 15px;
    font-family: 'Poppins';
    font-weight: 500;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 10px 0 20px 20px;
}

.modal-button {
    width: 320px;
    font-size: 15px;
    font-family: 'Poppins';
    font-weight: 500;
    margin-left: 20px;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    margin-bottom: 30px;
}